# Dossiers de build temporaires
.gradle/
build/
out/

# Fichiers d'IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
test-logs/

# Fichiers de compilation
*.class
*.jar
*.war
*.ear

# Fichiers de crash JVM
hs_err_pid*

# Maven
target/
